.dialog-form {
  padding-top: 10px;

  .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px;

    mat-form-field {
      width: 100%;
    }

    mat-checkbox {
      margin-top: 12px;
      align-self: center;
    }
  }
}

@media (max-width: 768px) {
  .dialog-form .form-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}

@media (max-width: 550px) {
  .dialog-form .form-grid {
    grid-template-columns: 1fr; 
    gap: 12px;

    mat-checkbox {
      margin-top: 5px;
    }
  }
}
