.contenedor {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.full-width-table {
  width: 100%;
}
.frio {
  background-color: aqua;
}
