mat-dialog-content {
  padding-top: 0.5rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  mat-form-field {
    width: 100%;
    margin-top: 0.5rem; 
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
