.estado-badge {
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;

  &.activo {
    background-color: #4caf50;
  }

  &.inactivo {
    background-color: #d32f2f;
  }
}
