.sidenav-container {
  height: 100vh;
}


.sidenav {
  width: 260px;
  background: #919191;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 200px; /* ajustá según tu gusto */
  display: block;
  margin: 0 auto;
  padding: 16px 0;
}




mat-nav-list a {
  color: white;
  font-weight: 500;
}

mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.main-content {
  background-color: #f4f6fa;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.content {
  flex: 1;
  padding: 1.5rem;
}


.menu-group {
  background: transparent;
  box-shadow: none;
}

.menu-group .mat-expansion-panel-header {
  padding: 0 16px;
  font-weight: 600;
}

.menu-group a {
  padding-left: 32px;
}
