<div class="tittle">
  <h2 mat-dialog-title>{{ titulo }}</h2>
</div>

<mat-dialog-content #dialogContent>
  <form [formGroup]="form" class="form-wrap">

    <div class="cliente-row">

      <mat-form-field appearance="outline" class="cliente-id-field readonly-field">
        <mat-label>ID</mat-label>
        <input matInput [value]="clienteSeleccionado?.id || '—'" disabled />
      </mat-form-field>

      <mat-form-field appearance="outline" class="cliente-select">
        <mat-label>Cliente</mat-label>
        <mat-select #clienteSelect formControlName="clienteId">

          <mat-option>
            <ngx-mat-select-search [formControl]="filtroClientesCtrl" placeholderLabel="Buscar cliente..."
              noEntriesFoundLabel="Sin resultados">
            </ngx-mat-select-search>
          </mat-option>

          <mat-option *ngIf="cargandoClientes" [disabled]="true">
            Cargando clientes...
          </mat-option>

          <mat-option *ngFor="let c of clientesFiltrados" [value]="c.id">
            {{ c.razonSocial }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="cliente-iva-field readonly-field">
        <mat-label>Condición IVA</mat-label>
        <input matInput [value]="clienteSeleccionado?.condicionIVA || '—'" disabled />
      </mat-form-field>




      <mat-form-field appearance="outline" class="cliente-lista-field readonly-field">
        <mat-label>Lista de precios</mat-label>
        <input matInput [value]="clienteSeleccionado?.listaPrecioNombre || '—'" disabled />
      </mat-form-field>


    </div>

    <div class="lineas-header">
      <h3>Ítems</h3>
      <button mat-stroked-button color="primary" type="button" (click)="agregarLinea()">
        <mat-icon>add</mat-icon>
        Agregar ítem
      </button>
      <mat-slide-toggle *ngIf="discriminaIVA" formControlName="forzarNoDiscriminarIVA">
        Emitir como No Categorizado
      </mat-slide-toggle>
    </div>


    <div class="tabla-lineas">

      <div class="fila cabecera">
        <div class="col codigo">Código</div>
        <div class="col item">Ítem</div>
        <div class="col cantidad">Cant. Comercial</div>
        <div class="col cantidad">Cantidad Base</div>
        <div class="col precio">Precio</div>
        <div class="col subtotal">Subtotal</div>
        <div class="col acciones">Acciones</div>
      </div>

      <div class="fila" [class.fila-servicio]="det.get('esServicio')?.value"
        *ngFor="let det of detalles.controls; let i = index" [formGroup]="det">



        <div class="col codigo">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Código</mat-label>

            <mat-select class="codigo-select" [value]="det.get('itemId')?.value"
              (selectionChange)="onCodigoSeleccionado(det, $event.value)">

              <mat-option>

                <ngx-mat-select-search [formControl]="getFiltroItemCtrl(det)" placeholderLabel="Buscar por código..."
                  noEntriesFoundLabel="Sin resultados">
                </ngx-mat-select-search>


              </mat-option>

              <mat-option *ngFor="let it of filtrarItemsPorLinea(det)" [value]="it.id">
                {{ it.codigo }}
              </mat-option>

            </mat-select>
          </mat-form-field>
        </div>

        <div class="col item">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Producto / Servicio</mat-label>

            <mat-select formControlName="itemId" (selectionChange)="onItemChange(i)">
              <mat-option>

                <ngx-mat-select-search [formControl]="getFiltroItemCtrl(det)" placeholderLabel="Buscar por codigo..."
                  noEntriesFoundLabel="Sin resultados">
                </ngx-mat-select-search>

              </mat-option>

              <mat-option *ngIf="cargandoItems" [disabled]="true">
                Cargando ítems...
              </mat-option>

              <mat-option *ngFor="let it of filtrarItemsPorLinea(det)" [value]="it.id">
                {{ it.descripcion }}
              </mat-option>

            </mat-select>

            <mat-error *ngIf="det.get('itemId')?.hasError('required')">
              Requerido
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col item" *ngIf="det.get('esServicio')?.value">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Observaciones</mat-label>
            <input matInput formControlName="observaciones"
              placeholder="Detalle del servicio (ej: Transporte, Flete, etc.)" />
          </mat-form-field>
        </div>


        <!-- CANTIDAD COMERCIAL -->
        <div class="col cantidad">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              Cantidad ({{ det.get('unidadComercial')?.value || '—' }})
            </mat-label>

            <input matInput type="number" formControlName="cantidadComercial" min="1" step="1" />
          </mat-form-field>
        </div>

        <!-- CANTIDAD BASE -->
        <div class="col cantidad cantidad-base">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              {{ det.get('unidadBase')?.value === 'KG'
              ? 'Peso (kg)'
              : 'Cantidad base (' + (det.get('unidadBase')?.value || '—') + ')' }}
            </mat-label>

            <input matInput type="number" formControlName="cantidad"
              [step]="det.get('unidadBase')?.value === 'KG' ? '0.01' : '1'"
              [min]="det.get('unidadBase')?.value === 'KG' ? '0.01' : '1'" />

            <mat-hint *ngIf="det.get('factorConversion')?.value">
              Estimado:
              {{ det.get('cantidadComercial')?.value || 0 }}
              × {{ det.get('factorConversion')?.value }}
              =
              {{ (det.get('cantidadComercial')?.value || 0) *
              (det.get('factorConversion')?.value || 0)
              | number:'1.2-2' }}
              {{ det.get('unidadBase')?.value }}
            </mat-hint>
          </mat-form-field>
        </div>

        <!-- PRECIO (VISUAL CON IVA CUANDO CORRESPONDE) -->
        <div class="col precio">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              Precio <span *ngIf="!discriminaIVA">(IVA incluido)</span>
            </mat-label>

            <input matInput type="text" inputmode="decimal" formControlName="precioVisual"
              (input)="onPrecioVisualInput(det)" />

          </mat-form-field>
        </div>

        <!-- SUBTOTAL -->
        <div class="col subtotal">
          <mat-form-field appearance="outline" class="w-100 readonly-field subtotal-field">
            <mat-label>Subtotal</mat-label>
            <input matInput [value]="subtotalVisual(det) | number:'1.2-2'" readonly />
          </mat-form-field>
        </div>

        <div class="col acciones">
          <!-- <button mat-icon-button color="warn" type="button" (click)="quitarLinea(i)">
            <mat-icon>delete</mat-icon>
          </button> -->


          <button mat-icon-button color="primary" type="button" tabindex="0" (click)="agregarLinea()"
            aria-label="Agregar ítem">
            <mat-icon>add</mat-icon>
          </button>

          <button mat-icon-button color="warn" type="button" tabindex="0" (click)="quitarLinea(i)"
            aria-label="Eliminar ítem">
            <mat-icon>delete</mat-icon>
          </button>

        </div>

      </div>
    </div>

    <!-- ================= RESUMEN ================= -->
    <div class="total-wrap resumen-box">

      <!-- RESPONSABLE INSCRIPTO -->
      <ng-container *ngIf="discriminaIVA; else totalFinalBox">

        <div class="resumen-linea">
          <span>Subtotal</span>
          <strong>$ {{ subtotal | number:'1.2-2' }}</strong>
        </div>

        <div class="resumen-linea">
          <span>IVA 21%</span>
          <strong>$ {{ iva | number:'1.2-2' }}</strong>
        </div>


        <div class="resumen-total">
          <span>TOTAL</span>
          <strong>$ {{ totalFinal | number:'1.2-2' }}</strong>
        </div>




      </ng-container>

      <ng-template #totalFinalBox>
        <div class="resumen-total grande">
          <span>Total final (IVA incluido)</span>
          <strong>$ {{ totalFinal | number:'1.2-2' }}</strong>
        </div>
      </ng-template>

    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" type="button" (click)="guardar()"
    [disabled]="form.invalid || detalles.length === 0">
    Guardar
  </button>
</mat-dialog-actions>